doctype html
html(lang="es")
	head
		title="Login"
	body
		form(id="login" method="post")
			input(type="text" name="username" placeholder="Nombre de usuario")
			br
			input(type="password" name="password" placeholder="Contraseña")
			br
			input(type="submit" value="Logear")

script
	include loginCompany.js